.my-navbar{
    height: 70px;
}


.my-big-section{
    /* display: flex; */
    height: calc(100vh - 70px);

}


.my-aside{
    /* width: 200px; */
    /* background-color: yellow; */
    background-image: url(../img/sidebar-bg.png);
    background-color: #051E34;
}

.my-main{
    /* width: calc(100% - 200px); */
    background-color: violet;
    overflow: auto;
}

