.my-navbar{
    height: 70px;
}


.my-big-section{
    /* display: flex; */
    height: calc(100vh - 70px);

}


.my-aside{
    /* width: 200px; */
    /* background-color: yellow; */
    background-image: url(../img/sidebar-bg.png);
    background-color: #051E34;
}

.my-main{
    /* width: calc(100% - 200px); */
    /* background-color: violet; */
    overflow: auto;
}

.my-test{
    /* background-color: chartreuse; */
    border: 1px black dashed;
    /* height: 100px; */
}

.bg-custom-1{
    background-color: #1B72E8;
}

.bg-button{
    background-color: #165BBA;
}
